.footer__wrapper {
  min-width: 320px;
  display: block;
  padding: 55px 2vw 65px;

  @media (min-width: $toTablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  @media (min-width: $toDesktop) {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    padding: 75px 2vw 30px;
  }
}
