.footer-look {
  max-width: 270px;
}

.footer-look__title {
  margin: 0;
  margin-bottom: 26px;
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
}

.footer-look__github {
  margin-bottom: 40px;
}
