.footer-greeting__photo {
  width: 305px;
  height: 306px;
  border-radius: 5px;
}

.footer-greeting__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 26px;
  line-height: 27px;
}
