.footer-contacts {
  display: flex;
  flex-direction: column;
  padding-top: 35px;

  @media (min-width: $toDesktop) {
    padding: 0;
  }
}

.footer-contacts__title {
  margin: 0;
  margin-bottom: 26px;
  font-weight: 800;
  font-size: calc(26px + 12 * (100vw - 320px) / 880);
  line-height: calc(32px + 12 * (100vw - 320px) / 880);

  @media (min-width: $toDesktop) {
    font-size: calc(14px + 12 * (100vw - 320px) / 880);
    line-height: calc(18px + 12 * (100vw - 320px) / 880);
  }
}

.footer-contacts__desc {
  margin: 0;
  margin-bottom: 12px;
  max-width: 270px;
}

.footer-contacts__wrapper {
  margin-top: auto;
}

.footer-contacts__mail {
  display: block;
  margin: 27px 0;
  font-weight: 800;
  font-size: calc(26px + 12 * (100vw - 320px) / 880);
  line-height: calc(32px + 12 * (100vw - 320px) / 880);

  @media (min-width: $toDesktop) {
    font-size: calc(14px + 12 * (100vw - 320px) / 880);
    line-height: calc(18px + 12 * (100vw - 320px) / 880);
  }
}

.footer-contacts__copyright-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
}

.footer-contacts__arrowUp {
  font-size: 26px;
  transition: .4s;

  &:hover {
    color: $ColorRed;
    font-weight: 700;
  }

  &:focus {
    color: $ColorRed;
  }
}
