.header-menu {
  @include reset;

  min-width: 70vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 0;
  background: $textColorRed;


  // grid-column: 3 / 5;
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // grid-gap: 10px;
  // @include reset;

  @media (max-width: $doubleColumnsWidth) {
    display: block;
    min-width: 50vw;
  }

}

.header-menu__item {
  list-style: none;
}

.header-menu__link {
  display: block;
  min-width: 320px;
  padding: 10px 10vw;
  font-size: 36px;
  line-height: 40px;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  transition: .3s;

  &:hover {
    color: $textColorRed;
  }

  // @media (max-width: $mobileWidth) {
  //   display: block;
  //   padding: 10px 15px;
  //   font-size: 36px;
  //   line-height: 40px;
  // }
}
