.header__container {
  min-width: 320px;
}

.header__menu-wrapper {
  @media (min-width: $toDesktop) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    padding: 20px 2vw 10px;
    background: $backgroundOpacity_03;
    position: fixed;
    z-index: 50;
  }
}

.header__logo-wrapper {
  padding: 20px calc(2vw + 5px) 10px;
  position: fixed;
  top: 0;
  z-index: 77;
  cursor: pointer;
  mix-blend-mode: difference;
}

.header__logo,
.header__sublogo {
  display: block;
  font-weight: 900;
  font-size: 45px;
  line-height: 40px;
  user-select: none;
}

.header__title {
  @include reset;
  font-weight: 900;
}

.header__bio {
  display: block;
  position: fixed;
  z-index: 50;
  right: 0;
  top: 81px;
  padding: 0 calc(2vw + 5px);
  cursor: pointer;
  mix-blend-mode: difference;

  @media (min-width: $toDesktop) {
    z-index: 77;
  }
}
