@keyframes menulinkBounce {
  0% {transform: translateY(1px); opacity: 0; }
  5% {transform: translateY(2px); opacity: 0; }
  25% {transform: translateY(-12px); opacity: 1; }
  37% {transform: translateY(-8px); opacity: 1; }
  45% {transform: translateY(-8px); opacity: 1; }
  58% {transform: translateY(4px) rotate(-7deg); opacity: 1; }
  83% {transform: translateY(-6px) rotate(0deg); opacity: 1; }
  100% { transform: translateY(0px); opacity: 1; }
}

.header-menu {
  @media (min-width: $toDesktop) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    padding: 20px 2vw 10px;
    background: $backgroundOpacity_03;
    position: fixed;
    z-index: 50;
  }
}

.header-menu__list {
  @include reset;

  min-width: 263px;
  height: 110vh;
  display: block;
  position: fixed;
  top: -999px;
  left: 0;
  padding: 130px 0;
  z-index: 77;
  opacity: 0;
  background: $backgroundOpacity_09;
  transition: ease-out 0.6s;

  @media (min-width: $toDesktop) {
    grid-column: 3 / 5;
    padding: 0;
    height: 130px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 10px;
    background: none;
    position: initial;
    transition: none;
    opacity: 1;
  }

  &--open {
    top: 0;
    opacity: 1;

    @media (min-width: $toDesktop) {
      opacity: 0;
    }
  }

}

.header-menu__item {
  list-style: none;
}

.header-menu__link {
  display: block;
  min-width: 250px;
  padding: 15px 18px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 800;
  line-height: 37px;

  &--current .header-menu__link-title--one {
    color: transparent;
    -webkit-text-stroke-width: .6px;
    -webkit-text-stroke-color: $ColorWhite;
  }

  &.header-menu__link--current {
    pointer-events: none;
  }

  &:hover .header-menu__link-wrapper {
    transform: translateY(-37px);
  }

  &:hover .header-menu__link-title--one {
    transform: rotate(20deg);
  }

  &:hover .header-menu__link-title--two {
    animation: menulinkBounce .7s ease-in;
    animation-fill-mode: forwards;
    transform: rotate(0);
  }

  @media (min-width: $toTablet) {
    padding: 15px 3vw;
  }

  @media (min-width: $toDesktop) {
    padding: 0 5px;
    min-width: 160px;

    &::after {
      left: 6px;
    }
  }
}

.header-menu__link-mask {
  position: relative;
  display: block;
  padding: 0;
  height: 40px;
  overflow: hidden;
  // outline: 1px solid red;
}

.header-menu__link-wrapper {
  display: block;
  transition: transform .2s ease;
}

.header-menu__link-title {
  display: block;
  transition: transform .2s ease;

  &--one {
    transform-origin: right center;
  }

  &--two {
    color: $ColorRed;
    transform-origin: left center;
    transform: rotate(20deg);
  }
}
