.header__container {
  min-width: 320px;

  &:hover .header-menu {
    background: $ColorBlack;
  }
}

.header__logo-wrapper {
  padding: 20px calc(2vw + 5px) 10px;
  position: fixed;
  top: 0;
  z-index: 77;
  cursor: pointer;
  mix-blend-mode: difference;
}

.header__logo,
.header__sublogo {
  display: block;
  font-weight: 900;
  font-size: 45px;
  line-height: 40px;
  user-select: none;
}

.header__title {
  @include reset;
  font-weight: 900;
}
