$red: #ff6100;
$mainFont: 'Candal', sans-serif;
$anim_time: 0.8s;
$widthClose: 50px;
$widhtOpen: 67px;


//OPEN
@keyframes topBar_open {
  0% { transform: translateY(0px) rotate(0deg) ; width: $widthClose; }
  10% {transform: translateY(-10px) rotate(0deg); width: $widthClose; }
  50% {transform: translateY(10px) rotate(45deg); width: $widhtOpen; }
  75% {transform: translateY(-20px) rotate(45deg); width: $widhtOpen; }
  100% {transform: translateY(-5px) rotate(42deg); width: $widhtOpen; }
}

@keyframes bottomBar_open {
  0% { transform: translateY(0px) rotate(0deg) ; width: $widthClose; }
  10% { transform: translateY(-10px) rotate(0deg) ; width: $widthClose; }
  60% {transform: translateY(5px) rotate(-45deg); width: $widhtOpen; }
  75% {transform: translateY(-37px) rotate(-45deg); width: $widhtOpen; }
  100% {transform: translateY(-21px) rotate(-42deg); width: $widhtOpen; }
}

@keyframes menuLabel_open {
  0% { transform: translateY(0px); opacity: 1; }
  25% {transform: translateY(-18px); }
  45% {transform: translateY(44px); opacity: 1; }
  48% {transform: translateY(50px); opacity: 0; }
  100% {transform: translateY(30px); opacity: 0; }
}

// CLOSE
@keyframes topBar_close {
  0% {transform: translateY(17px) rotate(45deg); width: $widhtOpen; }
  35% {transform: translateY(-8px) rotate(-4deg); width: $widthClose; }
  53% {transform: translateY(10px) rotate(3deg); width: $widthClose; }
  70% {transform: translateY(-6px) rotate(0deg); width: $widthClose; }
  100% { transform: translateY(0px) rotate(0deg) ; width: $widthClose; }
}

@keyframes bottomBar_close {
  0% {transform: translateY(-8px) rotate(-45deg); width: $widhtOpen; }
  35% {transform: translateY(-18px) rotate(6deg); width: $widthClose; }
  53% {transform: translateY(0px) rotate(-3deg); width: $widthClose; }
  68% { transform: translateY(-7px) rotate(0deg) ; width: $widthClose; }
  100% { transform: translateY(0px) rotate(0deg) ; width: $widthClose; }
}

@keyframes menuLabel_close {
  0% {transform: translateY(30px); opacity: 0; }
  5% {transform: translateY(25px); opacity: 1; }
  25% {transform: translateY(-30px); opacity: 1; }
  37% {transform: translateY(-22px); opacity: 1; }
  45% {transform: translateY(-22px); opacity: 1; }
  58% {transform: translateY(8px) rotate(-10deg); opacity: 1; }
  83% {transform: translateY(-6px) rotate(0deg); opacity: 1; }
  100% { transform: translateY(0px); opacity: 1; }
}

.menu-btn {
  display: block;
  position: fixed;
  text-align: center;
  width: 50px;
  height: 43px;
  left: 208px;
  top: 55px;
  z-index: 99;

  &:hover {
    cursor: pointer;
  }

  &::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 55px;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    background: $backgroundOpacity_06;
    z-index: -1;
  }

  &--open .menu-btn__icon {
    &:before {
      animation: topBar_open $anim_time ease-in-out;
      animation-fill-mode: forwards;
    }

    &:after {
      animation: bottomBar_open $anim_time ease-in-out;
      animation-fill-mode: forwards;
    }
  }

  &--open .menu-btn__text {
    animation: menuLabel_open $anim_time ease-in;
    animation-fill-mode: forwards;
  }

  &--close .menu-btn__icon {
    &:before {
      animation: topBar_close $anim_time ease-in-out;
      animation-fill-mode: forwards;
    }

    &:after {
      animation: bottomBar_close $anim_time ease-in-out;
      animation-fill-mode: forwards;
    }
  }

  &--close .menu-btn__text {
    animation: menuLabel_close $anim_time ease-in;
    animation-fill-mode: forwards;
  }

  @media (min-width: $toDesktop) {
    display: none;
  }
}

.menu-btn__icon {
  &:before,
  &:after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #FFF;
    display: block;
    position: absolute;
    border-radius: 5px;
  }

  &:before {
    transform-origin: left center;
  }

  &:after {
    right: 0;
    top: 15px;
    transform-origin: right center;
  }
}

.menu-btn__text {
  color: #FFF;
  display: block;
  position: absolute;
  bottom: 0;
  font-size: 17px;
  letter-spacing: 3.2px;
}
