.modal {
  width: 100%;
  height: 100vh;
  padding: 10vw;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $ColorBlack;
}

.modal__wrapper {
  width: 90vw;
  display: flex;
  justify-content: space-between;
}

.modal__work-img {
  max-width: 480px;
}
