@font-face {
  font-family: "Noah";
  src: url("../fonts/Noah-Regular.woff2") format("woff2"),
       url("../fonts/Noah-Regular.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noah";
  src: url("../fonts/Noah-Bold.woff2") format("woff2"),
       url("../fonts/Noah-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noah";
  src: url("../fonts/Noah-Heavy.woff2") format("woff2"),
       url("../fonts/Noah-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noah";
  src: url("../fonts/Noah-Black.woff2") format("woff2"),
       url("../fonts/Noah-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

