.link-underline {
  position: relative;
  z-index: 1;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  //   width: 0;
  //   height: 2px;
  //   background: $ColorRed;
  //   transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  // }

  // @media (hover: hover) and (pointer: fine) {
  //   &:hover::before {
  //     left: 0;
  //     right: auto;
  //     width: 100%;
  //   }
  // }

  &::before {
    content: "";
    background: $ColorRed;
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
  }

  &:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
}

