.link {
  &:hover .link__underline::before {
    transform: scaleX(1);
    transform-origin: left;
  }

  &:active .link__underline {
    color: $ColorRed;
  }

  &:focus .link__underline {
    color: $ColorRed;
  }

  &:active .link__underline::before {
    transform: scaleX(0);
  }
}

.link__underline {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    background: $ColorRed;
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    // transition: transform 0.5s ease-in-out;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    z-index: -1;
  }
}


