$background: rgb(21, 21, 21);
$backgroundOpacity_03: rgba(21, 21, 21, 0.3);
$backgroundOpacity_06: rgba(21, 21, 21, 0.6);
$backgroundOpacity_09: rgba(21, 21, 21, 0.9);
$textColorWhite: #fff;
$textColorRed: #FF6161;

// Рзарешение экрана
$toDesktop: 900px;
$toTablet: 600px;
