$ColorBlack: #222222;
$ColorWhite: #fff;
$ColorWhiteOpacity_07: rgba(255, 255, 255, .7);
$ColorRed: rgba(255, 97, 97);
$ColorRedOpacity_07: rgba(255, 97, 97, .7);

// Рзарешение экрана
$toDesktop: 900px;
$toTablet: 600px;
