$background: rgb(21, 21, 21);
$backgroundOpacity_09: rgba(21, 21, 21, 0.9);
$backgroundOpacity_03: rgba(21, 21, 21, 0.3);
$textColorWhite: #fff;
$textColorRed: #FF6161;

// Рзарешение экрана
$toDesktop: 900px;
$oneColumnsWidth: 600px;
